{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "STORAGE_CONNECTION_STRING": "UseDevelopmentStorage=true",
    "STATE_CONTAINER": "state",
    "ATTACHMENTS_CONTAINER": "attachments"
  },
  "Host": {
    "CORS": "*"
  }
}
